/* Variables */

:root {
    --primary: #17B9FE; 
    --secondary: #4D4D4D; 
    --tertiary: #FFF; 
    --background-ui: #141B27;
    --grey: #666;
    --secondary-grey: #828282;
    --tertiary-grey: #1F232A;
    --four-grey: #252525;
    --five-grey: #999;
    --six-grey: #333;
    --black: #000;
    --background-light: #30353D;

    --header: #1F232A;
    --bg-body: #141B27;

    --bg-row-ho: #0E121B;

    --background: #252A33;
    
    --primary-dark: #005F88;
    --accent: #17B9FE;
    --light: #FFF;
    --secondary-light: #CCC;


    --borde-currency: #17B9FE;

    --radius: 8px;
    --double-radius: 16px;
    

    --gap: .5rem;
    --double-gap: 1rem;
    --big-gap: 2.5rem;

    /* Boxes Margins Paddings */
    --padding-box: 1rem;
    --padding-box-lg: 2rem;
    --padding-box-xl: 3rem;
    --padding-box-sm: .5rem;
    --margin-box: 1rem;
    --margin-box-lg: 2rem;
    --margin-box-sm: .5rem;

    /* Transition */
    --transition: all .3s ease-out;
    --transition-long: visibility 1s ease-out;

    /* Buttons */
    --button-radius: 36px;
    --button-weight: 500;
    --button-font-size: 14px;

    /* Modals */
    --border-modal: rgba(9, 147, 236, 0.5);
    /* --border-modal: rgba(243, 56, 195, 1); */
    
}



[data-theme='light'] {
     --primary: #F338C3; 
     --secondary: #F338C3; 
     --tertiary: #FFF; 
     --background-ui: #DDD;
     --grey: #666;
     --secondary-grey: #828282;
     --tertiary-grey: #DDDDDD;
     --four-grey: #EEE;
     --five-grey: #999;
     --six-grey: #CCC;
     --seven-grey: #333;

     --bg-row-ho: #EEE;
     --bg-body:#DDD ;

     --background: #F7F7F7;

     --header: #EEE;
     
     --primary-dark: #C61398;
     --secondary-green: #C61398;
     --accent: #F338C3;
     --light: #1C1C1C;
     --secondary-light: #CCC;
     --black: #F7F7F7;
     --borde-currency: #FF85E0;
 } 
