@import "./styles/Vars.css";
@import "purecss/build/pure.css";


html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

body {
  background-color: var(--black);
  overflow: scroll;
}

button {
  cursor: pointer;
  background-color: transparent;
  color: var(--light);
  border: 0px solid transparent;
}

button:hover {
  cursor: pointer;
  background-color: transparent;
  color: var(--primary-color);
}

small {
  color: var(--grey);
  font-size: 14px;
}


#root {
  box-sizing: border-box;

}

.main {
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
}

.header {
  justify-content: space-between;
  display: flex;
  margin-bottom: 16px;
}

.header .logo {
  padding-top: 10px;
}

.header a {
  border-bottom: 2px solid transparent;
  color: var(--grey);
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 16px 16px 22px;
  transition: var(--transition);
}

.header a:hover {
  background-color: var(--tertiary-grey);
  color: var(--light);
}

.header a:active {
  border-bottom: 2px solid var(--primary-color);
  color: var(--light);
 }


.header a.active {
  border-bottom: 2px solid var(--primary-color);
  color: var(--light);
}

.btn {
  border: 1px solid transparent;
  border-radius: var(--button-radius);
  color: var(--secondary-color);
  display: inline-block;
  font-size: var(--button-font-size);
  font-weight: var(--button-weight);
  min-width: 140px;
  padding: 8px 0;
  text-align: center;
  transition: var(--transition);
  width: auto;
}

.btn:hover {
  color: var(--secondary-dark);
}

.btn.btn-primary {
  background-color: var(--primary-color);
  color: var(--black);
}

.btn.btn-primary:hover {
  background-color: var(--primary-dark);
}

.btn.btn-login {
  width: 240px;
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: auto;
}

.right {
  justify-content: right;
  display: flex;
}

.btn.loading {
  animation: infinite 1s pulse;
}

.total {
  display: flex;
  height: 100%;
}

.total .box-total{
  box-sizing:content-box;
  height: 68%;
}

.total .total-title {
  color: var(--light);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

.total .token-amount {
  color: var(--accent);
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2%;
  line-height: 48px;
  text-align: center;
}

.total .box-inout {
  height: 38%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.container {
  align-items: center;
  background-color: var(--tertiary-grey);
  border: 2px solid transparent;
  border-radius: var(--radius);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  transition: var(--transition);
}

.full-h {
  height: 100%;
}

.token-balances {
  gap: var(--gap);
  margin-left: var(--gap);
}

.token-balance {
  color: var(--light);
  padding: 1rem 2rem;

}

.token-balance .logo-symbol {
  display: flex;
  gap: var(--radius);
  align-items: center;
}

.token-balance img {
  width: 36px;
  height: 46px;
}

.token-balance .amount small{
  color: var(--grey);
  font-size: 14px;
}

.progress-bar {
  align-items: center;
  display: flex;
  gap: var(--gap);
}

.progress-bar .pb-bg {
  background-color: var(--background-ui);
  border-radius: var(--double-radius);
  height: 7px;
  transition: var(--transition);
  width: 100px;
}

.progress-bar .pb-fg {
  background-color: var(--secondary-grey);
  border-radius: var(--double-radius);
  height: 100%;
  width: 0%;
}


@keyframes pulse {
  0% {
    border: var(--four-grey);
    background-color: var(--six-grey);
  }
  50% {
    border: var(--six-grey);
    background-color: var(--four-grey);
  }
  100% {
    border: var(--four-grey);
    background-color: var(--six-grey);
  }
}

.input-container {
  border: 1px solid transparent;
  height: 48px;
  position: relative;
  border-radius: var(--radius);
  transition: var(--transition);
}

.input-container:hover {
  border: 1px solid transparent;
}

.input-container input.is-valid + label, 
.input-container input:focus + label {
  background-color: var(--tertiary-grey);
  color: var(--primary-color);
  padding: 0 .5rem;
  -webkit-transform: translateY(-230%) scale(.8);
  transform: translateY(-230%) scale(.8);
}

.input-container label {
  color: var(--secondary-grey);
  display: block;
  font-size: .75rem;
  left: 16px;
  letter-spacing: 1px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-origin: left top;
  transform-origin: left top;
  transition: color .15s cubic-bezier(.4,0,.2,1),top .5s,-webkit-transform .15s cubic-bezier(.4,0,.2,1);
  transition: transform .15s cubic-bezier(.4,0,.2,1),color .15s cubic-bezier(.4,0,.2,1),top .5s;
  transition: transform .15s cubic-bezier(.4,0,.2,1),color .15s cubic-bezier(.4,0,.2,1),top .5s,-webkit-transform .15s cubic-bezier(.4,0,.2,1);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-container input {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  border-radius: var(--radius);
  box-sizing: border-box;
  caret-color: var(--light);
  color: var(--light);
  font-size: .875rem;
  height: 100%;
  padding: 1rem;
  transition: border .5s;
  transition: var(--transition);
  width: 100%;
}

.input-container input:invalid {
  background-color: transparent;
  border: 1px solid #a52a2a;
}

.input-container input:disabled {
  background-color: transparent;
  border: 1px solid vars(--grey);
  color: vars(--grey);
}

.input-container input:hover {
  background-color: transparent;
  border: 1px solid var(--secondary-color);
}

.input-container input:focus {
  border: 1px solid var(--primary-color);
  outline: none;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: Poppins,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}
