@import  url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "./styles/Vars.css";
@import "./styles/Grid.css";

html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

html, button, input, select, textarea {
  font-family: "Poppins", Helvetica Neue,sans-serif;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  overflow: auto;
}

button {
  line-height: 1.15;
  font-weight: var(--button-weight) !important;
  cursor: pointer;
  background-color: transparent;
  color: var(--secondary-light);
  border: 0px solid transparent;
  transition: var(--transition);
  text-transform: none;
}

button:hover {
  cursor: pointer;
  background-color: transparent;
  color: var(--accent);
}

hr {
  border: none;
  border-bottom: 1px solid var(--six-grey);
  height: 1px;
  margin: 0 2rem;
  cursor: pointer;
  background-color: transparent;
  color: var(--primary);
}

a {
  text-decoration: none;
}

small {
  color: var(--grey);
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title-box {
  font-weight: 700;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: var(--light);
  display: block;
  text-align: center;
}

.label-box {
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-size: 0.625rem;
  font-weight: 500;
  color: var(--five-grey);
}

#root {
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: row;
  /* height: 60px; */
  margin-bottom: var(--big-gap);
  margin-top: var(--big-gap);
  box-sizing: border-box;
  align-items: top;
}

.header .logo {
  min-width: 138px;
  display: flex;
  align-items: center;
  width: 15%;
}

.header .logo img {
  width: 100%;
  max-width: 200px;
}

.header .main-menu {
  width: 70%;
  display: flex;
}

.header .main-menu a {
  border-bottom: 2px solid transparent;
  color: var(--grey);
  font-size: 1rem;
  font-weight: var(--button-weight);
  padding: 16px 22px;
  transition: var(--transition);
}

.header .main-menu a.active {
  background-color: var(--background);
  border-bottom: 2px solid var(--primary);
  color: var(--light);
}

.header .main-menu a:active {
  background-color: var(--background);
  border-bottom: 2px solid var(--primary);
  color: var(--light);
}

.header .main-menu a:hover {
  background-color: var(--background-light);
  color: var(--light);
}

.header .button-login {
  width: 15%;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: right;
}

.main {
  display: flex;
  gap: 0.5rem;
}

.content {
  color: var(--primary);
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: #5F9EA0;
  background-color: var(--tertiary-grey);
  padding: 1em;
  transition: var(--transition);
}

.token {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.token .token-actions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.totales {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.totales label {
  align-items: center;
  color: var(--light);
  display: flex;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.totales .tot-amount {
  color: var(--accent);
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2%;
  line-height: 48px;
  text-align: center;
}

.total {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.totales .inout{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  gap: var(--big-gap);
}


.token-balance {
  color: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.token-balance:hover {
  border: 2px solid var(--primary);
}

.token-balance img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.token-balance .logo-token {
  color: var(--light);
  display: flex;
  min-width: 90px;
  align-items: center;
  justify-content: center;
}

.btn {
  border: 1px solid transparent;
  border-radius: var(--button-radius);
  color: var(--secondary);
  font-size: var(--button-font-size);
  font-weight: var(--button-weight);
  min-width: 140px;
  height: 34px;
  text-align: center;
}

.btn-bar {
  color: var(--secondary-light);
  min-width: 140px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.btn-disabled,
.btn.btn-disabled:hover {
  background-color: var(--background-ui);
  color: var(--grey);
  cursor: default;
}

.soon {
  background-image: url(./assets/svg/pronto.svg);
  background-position: 100.5% -1px;
  background-repeat: no-repeat;
}
.btn.btn-cancel {
  background-color: var(--background-ui);
  color: var(--five-grey);
}

.btn.btn-cancel::after {
  animation: cancel-countdown 5s linear infinite alternate;
}

.btn.btn-cancel:hover {
  background-color: red;
  color: var(--black);
}

.link-small {
  color: var(--secondary-grey);
  font-size: .75rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.account-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.btn-small {
  border: 1px solid transparent;
  border-radius: var(--button-radius);
  color: var(--secondary);
  font-size: 14px;
  font-weight: var(--button-weight);
  min-width: 40px;
  text-align: center;
}

.btn-full {
  width: 100%;
}

.btn:hover{
  color: var(--secondary);
}

.btn.btn-primary {
  background-color: var(--primary);
  color: var(--background);
}

.btn.btn-primary:hover{
  color: var(--light);
  background-color: var(--primary-dark);
}

.btn.btn-primary {
  background-color: var(--primary);
  color: var(--background);
}

.btn.btn-primary.btn-login {
  min-width: 240px;
}

.btn.btn-default {
  background-color: var(--background-ui);
  color: var(--five-grey);
}

.btn.btn-default:hover {
  background-color: var(--background-ui);
  color: var(--accent);
}

.red {
  color: red;
}

.green {
  color: green;
}

.progress-bar {
  align-items: center;
  display: flex;
  gap: var(--gap);
}

.progress-bar .pb-line{
  background-color: var(--background-ui);
  border-radius: var(--double-radius);
  height: 7px;
  transition: var(--transition);
  width: 100px;
}

.progress-bar .pb-progress {
  background-color: var(--primary);
  border-radius: var(--double-radius);
  height: 100%;
}

.progress-bar .pb-percent{
  color: var(--grey);
  align-items: right;
}

.amount {
  text-align: right;
  display: flex;
  flex-direction: column;
  color: var(--light);
  font-size: 1rem;
  transition: var(--transition);
}

.transactions {
  margin-top: var(--big-gap);
  display: flex;
  flex-direction: column;
}

.transactions .t-filter {
  display: flex;
  color: var(--light);
  display: flex;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: uppercase;
  background-color: var(--header);
  padding: 1.375rem 1rem;
  border: 2px solid transparent;
  border-radius: var(--radius) var(--radius) 0px 0px;
  gap: var(--gap);
  flex-wrap: wrap;
}

.transactions .t-filter .btn {
  width: auto;
  min-width: 0;
  padding: 0 10px;
}

.transactions .t-filter .btn-default:first-child {
  border: 1px solid var(--accent);
  color: var(--accent);
  margin-right: var(--big-gap);
  width: 130px;
}

.transactions .t-body {
  display: flex;
  color: var(--light);
  display: flex;
  flex-direction: column;
  border: 2px solid transparent;
  border-radius: 0px 0px var(--radius) var(--radius);
  background-color: var(--background-ui);
}

.transactions .t-title{
  display: flex;
  flex-direction: row;
  color: var(--light);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.transactions .t-header {
  display: flex;
  flex-direction: row;
  color: var(--five-grey);
  font-size: 16px;
  font-weight: 600;
  padding: 1rem 1rem;
  border-bottom: 2px solid var(--background);
  
}

.transactions .t-h:hover {
  color: var(--secondary-light);
  font-weight: 600;
}

.transactions .t-h-transactions {
  display: flex;
  width: 20%;
}

.transactions .t-h-right {
  display: flex;
  width: 20%;
  justify-content: right;
  font-weight: 600;
}

.transactions .t-row {
  display: flex;
  flex-direction: row;
  color: var(--secondary-light);
  font-size: 16px;
  padding: 1rem 1rem;
  border-bottom: 1px solid var(--background);
  transition: var(--transition)
}

.transactions .t-row:hover {
  background-color: var(--bg-row-ho);
}

.transactions .t-col {
  display: flex;
  width: 20%;
}

.transactions .t-col-right {
  display: flex;
  width: 20%;
  justify-content: right;
}

.transactions .t-data a {
  color: var(--primary-dark);
  padding-left: 0.5rem;
}

.transactions .t-data a:hover {
  color: var(--primary);
  padding-left: 0.5rem;
}

.transactions .t-header button {
  color: var(--five-grey);
}

.transactions .t-header button:hover {
  color: var(--primary-dark);
}

.transactions .t-footer {
  display: flex;
  flex-direction: row;
  color: var(--grey);
  font-size: 16px;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: space-between;
}

.transactions .t-goto input {
  background-color: var(--bg-row-ho);
  border: 1px solid transparent;
  border-radius: var(--radius);
  color: var(--light);
  margin-left: 1rem;
  text-align: center;
  width: 46px;
  outline: none;
}

.transactions .t-goto input:focus-visible {
  border: 1px solid transparent;
}

.btn.loading {
  animation: infinite 1s pulse;
}

.transactions .t-pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@keyframes cancel-countdown {
  0% {
    content: "5"
  }
  20% {
    content: "4"
  }
  40% {
    content: "3"
  }
  60% {
    content: "2"
  }
  80% {
    content: "1"
  }
  100% {
    content: "0"
  }
}

@keyframes cancel-animation {
  0% {
    opacity: 100%;
  }
  90% {
    opacity: 65%;
  }
  100% {
    opacity: 10%
  }
}

@keyframes pulse {
  0% {
    border: var(--four-grey);
    background-color: var(--six-grey);
  }
  50% {
    border: var(--six-grey);
    background-color: var(--four-grey);
  }
  100% {
    border: var(--four-grey);
    background-color: var(--six-grey);
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 90%;
  max-height: 90%;

  min-width: 100px;
  min-height: 100px;

  background: var(--tertiary-grey);
  border: 2px solid var(--border-modal);
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.04);
  color: var(--light);
  padding-top: var(--padding-box);
  padding-bottom: 0;
  z-index: 10;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

.modal-overlay {
  background-color :rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden !important;
  opacity: 0;
  position: fixed;
  visibility: visible;
}

.modal .modal-body {
  display: flex;
  flex-direction: column;
  max-width: 360px;
}

.modal .modal-header {
  display: flex;
  position: relative;
  margin-top: -1em;
  justify-content: space-between;
  padding: var(--double-gap);
}

.modal .modal-header .modal-close {
  display: flex;
  position: relative;
  justify-content: right;
}

.modal .modal-header .modal-close i {
  font-size: 24px;
}

.modal .modal-header .modal-back {
  display: flex;
  position: relative;
  justify-content: left;
}

.modal .modal-header button {
  font-size: 16px;
}

.modal .btn-close {
  background-image: url(assets/svg/close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0.5em;
  cursor: pointer;
  height: 14px;
  transition: var(--transition);
  width: 14px;
}

.modal .btn-close {
  background-image: url(assets/svg/close.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0.5em;
  cursor: pointer;
  height: 14px;
  transition: var(--transition);
  width: 14px;
}

.modal .btn-close:hover {
  background-image: url(assets/svg/close-hover.svg);
}

.modal .modal-title {
  display: flex;
  flex-direction: row;
  color: var(--light);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.visible {
  animation: 0.3s fadeIn;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: hidden;
  }
  100% {
    opacity: 100%;
  }
}

.overflow-hidden {
  overflow: hidden !important;
}

.input-container {
  border: 1px solid transparent;
  height: 48px;
  margin: 1em 0rem 1em 0rem;
  position: relative;
  border-radius: var(--radius);
  transition: var(--transition);
}

.input-container:hover {
  border: 1px solid var(--primary-dark);
}

.input-container input.is-valid + label, 
.input-container input:focus + label {
  background-color: var(--four-grey);
  color: var(--primary);
  padding: 0 .5rem;
  -webkit-transform: translateY(-230%) scale(.8);
  transform: translateY(-230%) scale(.8);
}

.input-container label {
  color: var(--secondary-grey);
  display: block;
  font-size: .75rem;
  left: 16px;
  letter-spacing: 1px;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transform-origin: left top;
  transform-origin: left top;
  transition: color .15s cubic-bezier(.4,0,.2,1),top .5s,-webkit-transform .15s cubic-bezier(.4,0,.2,1);
  transition: transform .15s cubic-bezier(.4,0,.2,1),color .15s cubic-bezier(.4,0,.2,1),top .5s;
  transition: transform .15s cubic-bezier(.4,0,.2,1),color .15s cubic-bezier(.4,0,.2,1),top .5s,-webkit-transform .15s cubic-bezier(.4,0,.2,1);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-container input {
  background-color: transparent;
  border: 1px solid var(--secondary);
  border-radius: var(--radius);
  box-sizing: border-box;
  caret-color: var(--light);
  color: var(--light);
  font-size: .875rem;
  height: 100%;
  padding: 1rem;
  transition: border .5s;
  transition: var(--transition);
  width: 100%;
}

.input-container input:invalid {
  background-color: transparent;
  border: 1px solid #a52a2a;
}

.input-container input:disabled {
  background-color: transparent;
  border: 1px solid vars(--grey);
  color: vars(--grey);
}

.input-container input:hover {
  background-color: transparent;
  border: 1px solid var(--secondary);
}

.input-container input:focus {
  border: 1px solid var(--primary);
  outline: none;
}

.input-container input.is-valid {
  border: 1px solid var(--primary-dark);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form .login-form-header {
  text-align: center;
  color: var(--light);
  font-weight: 500;
  padding: 0.5rem 0 1rem 0;
  border-bottom: 2px solid var(--primary-dark);
}

.login-form .login-form-body {
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  background-color: var(--four-grey);
  border: 2px solid transparent;
  min-height: 200px;

}

.login-form .login-form-button{
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
  background-color: var(--four-grey);
  border: 2px solid transparent;
  border-radius: 0px 0px var(--radius) var(--radius);
}

/*Light Theme*/

.light #header .btn-login:hover {
  
}

.light .btn-filter {
  border: 1px solid var(--primary-color);
  background-color: #FFF;
}

.light .btn-filter:hover {
  background-color: var(--primary-color);
  color: var(--black);
}

.light #transactions .filter-bar {
  background-color: var(--four-grey);
}

.light #transactions .table-head {
  background-color: var(--tertiary-grey);
  color: var(--seven-grey);
  font-weight: 700;
}

.light #transactions .table-row {
  background-color: var(--tertiary-grey);
  color: var(--seven-grey);
}

.light #transactions .table-footer {
  background-color: var(--tertiary-grey);
  color: var(--seven-grey);
}

.light #transactions .paginator {
  color: var(--seven-grey);
}

.light #header a.active {
  color: var(--primary-color)
}

.light .btn-small {
  background-color: var(--black);
  color: var(--light);
}

.light .btn-small:hover {
  background-color: var(--primary-color);
  color: var(--black);
}

.light #transactions .paginator input {
  color: var(--black);
}

.light .header .main-menu a:hover {
  background-color: var(--background-ui);
  color: var(--accent);
}

.light .header .main-menu a.active {
  color: var(--light);
}

.light .transactions .t-header {
  color: var(--seven-grey);
  
}

.light button {
  color: var(--grey);
}

.light button:hover {
  color: var(--accent);
}

.light .transactions .t-header:hover {
  color: var(--seven-grey);
  font-weight: 500;
}

.light .transactions .t-row {
  color: var(--seven-grey)
}

.light .transactions .t-row:hover {

}

.light .transactions .t-footer {
  color: var(--seven-grey)
}

.btn.btn-primary:hover {
  color: var(--tertiary);
}

.light .btn.btn-default {
  background-color: var(--six-grey);
  color: var(--background);
}

.light .btn.btn-default:hover {
  color: var(--accent);
}


.light .progress-bar .pb-line {
  background-color: var(--black);
}

.light .data-list-box em {
  color: var(--grey);
}

.light .soon {
  background-image: url(./assets/svg/pronto-light.svg);
}

.light .btn-bar {
  color: var(--seven-grey);
}


.data-list-box em {
  font-style: normal;
  color: var(--five-grey);
}

.tab-data {
  padding: 1rem 0;
}

.tab-data ul {
  margin: 0;
  padding: 0;
}

.tab-data li {
  align-items: center;
  display: flex;
  /* height: 24px; */
  justify-content: space-between;
  line-height: 2rem;
  font-size: 0.875rem;
}

.tab-data .val {
  color: var(--light);
  font-size: .75rem;
  font-weight: 500;
}

.tab-data .legend {
  color: var(--secondary-grey);
  font-size: .75rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.tab-header button {
  width: 50%;
  text-align: center;
  color: var(--light);
  font-size: 16px;
  font-weight: 500;
  /* padding: 0.5rem 0 1rem 0; */
  padding: var(--double-gap) 0;
  border-bottom: 2px solid var(--six-grey);
}

.tab-header button.active {
  border-bottom: 2px solid var(--primary-dark);
}

.tab-body {
  background-color: var(--four-grey);
  display: flex;
  flex-direction: column;
  padding: 0em 2em 1em 2em;
  border-radius: 8px;
  max-width: 360px;
  min-width: 360px;
  box-sizing: border-box;
}

.tab-form {
  display: flex;
  flex-direction: column;
  min-height: 460px;
}

.tab-form hr{ 
  margin: 0;
}

.tab-form.tab-select {
}

.tab-form.tab-select button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  color: var(--grey);
  white-space: nowrap;
}

.tab-form.tab-select button:hover {
  color: var(--accent);
}

.tab-form.tab-select .name{
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-form .input-file {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  font-size: 13px;
  color: var(--secondary-grey);
  cursor: pointer;
  z-index: 10;
}

.tab-form .input-file:hover {
  color: var(--accent);
}

.tab-form .icon-input-file {
  position: absolute;
  cursor: pointer;
}

.tab-form .label-input-file {
  position: absolute;
  margin-left: 22px;
  cursor: pointer;
}

.tab-form #voucher {
  opacity: 0;
  cursor: pointer;
}

.tab-form .tab-title {
  align-items: center;
  color: var(--light);
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.tab-form .tab-amount {
  color: var(--accent);
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2%;
  line-height: 48px;
  text-align: center;
  padding-bottom: 2rem;
}

.tab-form .tab-check {
  color: var(--primary);
  padding: 0.5rem 0rem;
}

.tab-form .primary {
  color: var(--primary);
  padding-right: 1rem;
}

.tab-form .select-body {
  max-height: 460px;
  overflow-x: hidden;
  overflow: auto;
}

/* Switch Theme */

/* Theme Switch */

@import"./easing.css";

.button-login .theme-toggle {
  margin-left: 11rem;
}

.sun-and-moon>:is(.moon, .sun, .sun-beams) {
	transform-origin: center center
}

.sun-and-moon>:is(.moon, .sun) {
	fill: var(--icon-fill)
}

.theme-toggle:is(:hover, :focus-visible)>.sun-and-moon>:is(.moon, .sun) {
	fill: var(--icon-fill-hover)
}

.sun-and-moon>.sun-beams {
	stroke: var(--icon-fill);
	stroke-width: 2px
}

.theme-toggle:is(:hover, :focus-visible) .sun-and-moon>.sun-beams {
	stroke: var(--icon-fill-hover)
}

[data-theme=light] .sun-and-moon>.sun {
	transform: scale(1.75)
}

[data-theme=light] .sun-and-moon>.sun-beams {
	opacity: 0
}

[data-theme=light] .sun-and-moon>.moon>circle {
	transform: translate(-7px)
}

@supports (cx: 1) {
	[data-theme=light] .sun-and-moon>.moon>circle {
		transform: translate(0);
		cx: 17
	}
}

@media (prefers-reduced-motion: no-preference) {
	.sun-and-moon>.sun {
		transition: transform .5s var(--ease-elastic-3)
	}
	.sun-and-moon>.sun-beams {
		transition: transform .5s var(--ease-elastic-4), opacity .5s var(--ease-3)
	}
	.sun-and-moon .moon>circle {
		transition: transform .25s var(--ease-out-5)
	}
	@supports (cx: 1) {
		.sun-and-moon .moon>circle {
			transition: cx .25s var(--ease-out-5)
		}
	}
	[data-theme=light] .sun-and-moon>.sun {
		transform: scale(1.75);
		transition-timing-function: var(--ease-3);
		transition-duration: .25s
	}
	[data-theme=light] .sun-and-moon>.sun-beams {
		transform: rotate(-25deg);
		transition-duration: .15s
	}
	[data-theme=light] .sun-and-moon>.moon>circle {
		transition-delay: .25s;
		transition-duration: .5s
	}
}

.theme-toggle {
	--size: 2rem;
	--icon-fill: hsl(210 10% 30%);
	--icon-fill-hover: hsl(210 10% 15%);
	background: none;
	border: none;
  margin-right: 2em;
	padding: 0;
	inline-size: var(--size);
	block-size: var(--size);
	aspect-ratio: 1;
	border-radius: 50%;
	cursor: pointer;
	touch-action: manipulation;
	-webkit-tap-highlight-color: transparent;
	outline-offset: 5px
}

.theme-toggle>svg {
	inline-size: 100%;
	block-size: 100%;
	stroke-linecap: round
}

.address-bar {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.cont-notes {
  padding: 1rem 0;
  font-size: 12px;
}

.cont-notes ul {
  margin: 0;
  padding: 0;
}

.cont-notes li {
  align-items: center;
  display: flex;
  /* height: 34px; */
  padding-bottom: var(--double-gap);
  padding-top: var(--double-gap);
}

.cont-notes i {
  padding-right: 1em;
  font-size: 1rem;
}

.btn-address {
  padding-right: 1rem;
}

.tab-form h4 {
  font-size: 14px;
  padding: 0; 
}

.qr {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0rem 1rem 0;
}

.account-buttons i {
  padding-right: 0.5rem;
}


[data-theme=dark] .theme-toggle {
	--icon-fill: hsl(210 10% 70%);
	--icon-fill-hover: hsl(210 15% 90%)
}

@media (hover: none) {
	.theme-toggle {
		--size: 48px
	}
}



/******* General Cards *******/

.card-glacier {
  background-color: var(--tertiary-grey);
  border-radius: var(--double-radius);
  /* margin-bottom: 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 450px;
}

/* .card-lend {
  height: 450px;
}

.card-borrow {
  height: 450px;
}
 */
/* Header */

.card-header {
  border-top-left-radius: var(--double-radius);
  border-top-right-radius: var(--double-radius);
  padding: var(--padding-box-lg);
/*   padding-bottom: var(--padding-box);
 */  background-color: var(--header);
 height: 50%;
}

/* Body */

.card-body {
  border-bottom-left-radius: var(--double-radius);
  border-bottom-right-radius: var(--double-radius);
  padding: var(--padding-box-lg);
  /*   padding-top: var(--padding-box);*/  
  background-color: var(--bg-body);
 height: 50%;
 
}

.message-card {
  padding: var(--padding-box-xl);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--light);
}

.message-card h1 {
  font-weight: 500;
  font-size: 1.5rem;
}


.message-card p {
  font-size: 12px;
  line-height: 24px;
}


.value-box {
  font-weight: 800;
  font-size: 2rem;
  color: var(--accent);
  text-align: center;
}

.value-box small {
  font-size: 1.375rem;
  font-weight: 500;
  color: var(--primary);
}

/* Card toolbar */

.button-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
  max-width: 300px;
  margin: auto;
  margin-top: 2rem;
}

.button-bar .btn {
  width: 100%;
}


/******* List Cards *******/

.data-list-box {
  list-style-type: none;
  padding-left: 0;
  width: 100%;
  font-size: 12px;
  max-width: 300px;
  margin: auto;
}

.data-list-box li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  line-height: 2rem;
}

.data-list-box em {
  font-style: normal;
  color: var(--five-grey);
}

.data-list-box span {
  color: var(--light)
}

.light .data-list-box span {
  color: var(--light)
}

.data-list-box .amount small {
  margin-top: -.5rem;
}

/* Data List Progress bar */

.data-list-box .progress-bar {
  flex-direction: column;
  justify-content: end;
  gap: 0;
}

.data-list-box .progress-bar.pb-percent {
  order: 1;
  width: 100%;
  flex-direction: row;
  
}

.data-list-box .progress-bar.pb-percent small {
  font-size: 12px;
  color: var(--light);
  
}


.data-list-box .progress-bar.pb-line {
  order: 2;
  flex-direction: row;
  justify-content: flex-start;
}

/*  */

.select {
  font-size: 0.875rem;
  
}

.create-account .select {
  border: 1px solid var(--grey);
  height: 48px;
  box-sizing: border-box; 
  margin: 1em 0rem 1em 0rem;
  position: relative;
  border-radius: var(--radius);
  transition: var(--transition);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.create-account .select:hover {
  border: 1px solid var(--primary-dark);
  cursor: pointer
}

.tab-check {
  padding-bottom: 2rem;
}

.tab-form .filter-list {
  padding-top: 2rem;
  display: flex;
  min-width: 500px;
  flex-direction: row;
  justify-content: space-between;
}

.tab-form .filter-col {
  padding: 0em var(--double-gap);
}


/* Checkboxes */

.check-container input[type=checkobox]{
  margin-right: var(--gap);
}

/* Elements Tab */

.btn-element-tab {
  height: auto;
  padding: var(--gap);
  border-bottom: 1px solid var(--six-grey);
  border-radius: 0;
}

.btn-element-tab:last-child {
  border-bottom: none
}

.element-tab-label {
  max-width: 216px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  display: flex;
  gap: .5rem;
  text-align: left;
  margin-right: auto;
}

.element-tab-label .name {
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*Container Menu*/

.container-menu {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  justify-content: space-between;
  width: 100%;
  transition: var(--transition);
}

.menu-icon {
  display: none;  
}

/*Select Body*/

.select-body button {
  width: 100%;
}

/* Scroll Elements */
/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: var(--radius);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--grey);
  border-radius: var(--radius);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--six-grey);
  border-radius: var(--radius);
  transition: var(--transition);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bg-body);
}

.transactions .t-row small {
  display: none;
}


@media (max-width: 992px) {

  .container-menu {
    flex-direction: column;
    justify-content: start;
    margin-left: 0;
    transition: var(--transition);
    height: 0;
    overflow: hidden;
  }

  .container-menu.open {
    height: 14rem;
  }


  .menu-icon {
    display: block;
    color: var(--light);
    font-size: 24px;
    width: 50px;
    height: 50px;
    padding: var(--double-gap);
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: var(--double-gap);
    cursor: pointer;
    transition: var(--transition);
    border-radius: var(--radius);
  }

  .menu-icon:hover {
    background-color: var(--background-light);
    color: var(--accent);
  }

  .header .logo {
    width: auto;
    padding: var(--gap) 0;
    padding-left: var(--double-gap);
  }



  .container-menu .main-menu {
    flex-direction: column;
  }

  .header .main-menu {
    width: 100%;
  }

  .header .button-login {
    justify-content: start;
    width: 100%;
    padding: var(--double-gap) 0;
    padding-left: var(--double-gap);
  }

  .button-login .theme-toggle {
    margin-left: 0;
  }

  .card-glacier {
    margin-bottom: var(--margin-box);
    height: auto;
  }

  .card-header,
  .card-body {
    height: auto;
  }

  .header {

    flex-direction: column;
  }



  /*********** Mi Billetera ***********/


/*Totales*/
  .main {
    flex-direction: column;
    padding: var(--gap);
  }

  .totales, .token {
    width: 100%;
  }

  .token-balance {
    flex-direction: column;
  }
  .logo-token {
    gap: var(--double-gap);
  }

  .token-balance .token-actions,
  .token-balance .token-percent,
  .token-balance .amount {
    margin-top: var(--margin-box-lg);
  }
  .token-balance .amount {
    font-size: 2rem;
  }

  /*Transacciones*/

  

  .transactions {
    padding: var(--gap);
    padding-top: 0;
    margin-top: var(--margin-box);
  }

  .transactions .t-filter .btn-default:first-child {
    margin-right: auto;
    margin: auto;
    margin-bottom: var(--margin-box);
    width: 100%;
  }

  .transactions .t-header {
    display: none;
  }

  .transactions .t-row small {
    display: block;
    margin-bottom: 0.5rem;
  }


  .transactions .t-row {
    flex-wrap: wrap;
  }

  .transactions .t-col {
    display: inline-block;
    width: auto;
    margin-right: var(--gap);
  }
  .transactions .t-col-right {
    display: inline-block;
    width: 46%;
    margin-right: 0;
    margin-bottom: var(--margin-box);
  }

  .tab-form .filter-list {
    flex-wrap: wrap;
    min-width: 0;
    padding-top: var(--gap);
  }

  .tab-form .filter-col {
    width: 320px;
    border-bottom: 1px solid var(--six-grey);
    margin-bottom: 1rem;
  }
  .tab-form .filter-col:last-child {
    border-bottom: none;
  }

  .tab-form .filter-list {
    max-height: 382px;
    overflow-y: auto;
  }

  /* Modals */

  .tab-header button {
    font-size: 14px;
  }

  .tab-body {
    min-width: 300px;
  }

  .tab-body {
    max-height: 426px;
    overflow-y: auto;
  }

  .tab-form {
    min-height: initial;
  }

  .tab-check {
    font-size: 14px;
  }

  .tab-footer {
    margin-top: 1rem;
  }

}


/* Menu Dropdown */

.user-initials {
  position: relative;
}

.menu-dropdown {
  width: 250px;
  /* height: 400px; */
  position: absolute;
  top: 40px;
  right: 2rem;
  background-color: #252A33;
  border-radius: .5rem;
  padding: 1rem;
  border: 1px solid #17B9FE;
  color: #FFF;
}

.menu-dropdown::before {
  content: '';
  height: 8px;
  width: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  top: -.5rem;
  right: 2rem;
  background-image: url(./assets/svg/cacho.svg);
}

.header-menu {
  font-size: 18px;
  font-weight: 700;
  height: 68px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-menu:hover {
  color: var(--primary);
}

.no-verificado {
  width: 100px;
  height: 26px;
  display: flex;
  background-color: #FFC933;
  color: #141B27;
  font-size: 10px;
  border-radius: 16px 0px 0px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: -1rem;
}

.menu-options {
  list-style-type: none;
  padding-left: 0;
  font-size: 14px;
  color: #999;
}

.menu-options li {
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-options li:hover {
  color: var(--primary);
}

.menu-options i,
.footer-menu i
 {
  display: inline-block;
  margin-right: 1rem;
  font-size: 1rem;
  
}

.no-verificado i {
  margin-right: 0.25rem;
  font-size: .8rem;
}

.footer-menu {
  margin-top: auto;
  font-size: 14px;
  color: #999;
  border-top: 1px solid #51555C;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem;
  padding-bottom: 0;
  cursor: pointer;
}

.footer-menu:hover {
  color: var(--primary);
}

.btn.btn-primary.btn-login.logged {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  min-width: 40px;
  margin-right: 3.5rem;
}